<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TesterApp.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TesterApp.Settings1>
            <setting name="Server" serializeAs="String">
                <value>demo.trms.com</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>trms</value>
            </setting>
            <setting name="Zone" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>56906</value>
            </setting>
        </TesterApp.Settings1>
    </userSettings>
</configuration>